@font-face {
  font-family: "Roboto Light";
  src: url("/scss/base/fonts/Roboto/Roboto-Light.woff");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("/scss/base/fonts/Roboto/Roboto-Regular.woff");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("/scss/base/fonts/Roboto/Roboto-Medium.woff");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("/scss/base/fonts/Roboto/Roboto-Bold.woff");
}
@font-face {
  font-family: "OpenSans Light";
  src: url("/scss/base/fonts/OpenSans/OpenSans-Light.woff");
}
@font-face {
  font-family: "OpenSans Regular";
  src: url("/scss/base/fonts/OpenSans/OpenSans-Regular.woff");
}
@font-face {
  font-family: "OpenSans SemiBold";
  src: url("/scss/base/fonts/OpenSans/OpenSans-SemiBold.woff");
}
@font-face {
  font-family: "OpenSans Bold";
  src: url("/scss/base/fonts/OpenSans/OpenSans-Bold.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

h1,
h2,
h3 {
  color: #303842;
  font-family: "Roboto Light", sans-serif;
}

h4,
h6 {
  color: #303842;
  font-family: "Roboto Regular", sans-serif;
}

h5 {
  color: #000000;
  font-family: "OpenSans SemiBold", sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.7rem;
  line-height: 1;
}

h3 {
  font-size: 2.2rem;
  line-height: 1;
}

h4 {
  font-size: 1.4rem;
  line-height: 1;
}

h5 {
  font-size: 1.3rem;
  line-height: 1;
  text-transform: uppercase;
}

h6 {
  font-size: 1.2rem;
  line-height: 1;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #8191a6;
  font-family: "Roboto Light", sans-serif;
}

@media (min-width: 769px) {
  h1 {
    font-size: 4.6rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 3.4rem;
    line-height: 1;
  }

  h3 {
    font-size: 2.4rem;
    line-height: 1;
  }
}
@media (min-width: 1025px) {
  h1 {
    font-size: 5.6rem;
    line-height: 1.3;
  }
}
.c-button {
  color: #4caf50;
  font-family: "Roboto Regular", sans-serif;
  background-color: #ffffff;
  box-shadow: 0 0 0.6rem #8191a6;
  border-radius: 5rem;
  border: none;
  padding: 1.2rem 2.15rem;
  font-size: 1.3rem;
  line-height: 1.2;
  transition: 0.3s;
  outline: none;
}
@media (min-width: 1025px) {
  .c-button {
    padding: 1.3rem 3rem;
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
.c-button:hover {
  background-color: #4caf50;
  color: #f0f0f0;
  cursor: pointer;
}

.l-grid__layout {
  width: 98%;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .l-grid__layout {
    width: 100%;
    max-width: 75rem;
  }
}
@media (min-width: 1025px) {
  .l-grid__layout {
    max-width: 100rem;
  }
}
@media (min-width: 1201px) {
  .l-grid__layout {
    max-width: 114rem;
  }
}

.c-header {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0.2rem 0.5rem #8191a6;
}
.c-header .c-header__container--top {
  display: flex;
  flex-direction: column;
  padding: 1.3rem 2rem;
}
.c-header .c-header__container--top .c-header__hotline {
  font-size: 1.2rem;
  color: #303842;
  font-family: "Roboto Regular", sans-serif;
  margin: 0.5rem 0;
}
.c-header .c-header__container--top .c-header__hotline-number {
  font-size: 1.2rem;
  color: #6b7c93;
  font-family: "Roboto Light", sans-serif;
}
.c-header .c-header__divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
.c-header .c-header__container--bottom {
  display: none;
}
.c-header .c-header__container--bottom .c-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.c-header .c-header__container--bottom .c-header__logo .c-header__logo-sign {
  margin-right: 1rem;
  filter: invert(18%) sepia(34%) saturate(304%) hue-rotate(173deg) brightness(99%) contrast(91%);
}
.c-header .c-header__container--bottom .c-header__nav {
  margin-left: auto;
  text-align: center;
}
.c-header .c-header__container--bottom .c-header__nav .c-header__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.c-header .c-header__container--bottom .c-header__nav .c-header__list .c-header__list-item {
  margin-top: 1rem;
  padding: 2.4rem 0;
}
.c-header .c-header__container--bottom .c-header__nav .c-header__list .c-header__list-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #45505e;
  font-size: 1.1rem;
  font-family: "Roboto Regular", sans-serif;
  transition: 0.3s;
}
.c-header .c-header__container--bottom .c-header__nav .c-header__list .c-header__list-item a:hover {
  cursor: pointer;
  color: #4caf50;
}
.c-header .c-header__container--bottom .c-header__button {
  display: none;
}

.active {
  border-top: 2px solid #4caf50;
}

.c-header__nav-toggle-container {
  overflow: hidden;
  display: flex;
  position: absolute;
  right: 0.5rem;
  top: 2rem;
  padding: 0.5rem;
}

.c-header__nav-toggle-wrap {
  position: relative;
  top: 0.2rem;
  width: 3.5rem;
  height: 2.7rem;
  transition: 0.25s;
  z-index: 2;
}

.c-header__nav-toggle {
  cursor: pointer;
  display: inline-block;
}
.c-header__nav-toggle .c-header__nav-bar {
  position: absolute;
  border-radius: 0.2rem;
  width: 80%;
  transition: 0.5s;
}
.c-header__nav-toggle .c-header__nav-bar--top {
  border: 0.4rem solid #303842;
  border-bottom: none;
  top: 0;
}
.c-header__nav-toggle .c-header__nav-bar--middle {
  height: 0.4rem;
  background-color: #303842;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  top: 0.4rem;
}
.c-header__nav-toggle .c-header__nav-bar--bottom {
  border: 0.4rem solid #303842;
  border-top: none;
  top: 2.2rem;
}

.c-header__nav-toggle.c-button-open .c-header__nav-bar--top {
  transform: rotate(45deg) translate(0.8rem, 0.8rem);
  transition: 0.5s;
}
.c-header__nav-toggle.c-button-open .c-header__nav-bar--middle {
  transform: translate(23rem);
  transition: 0.1s ease-in;
  opacity: 0;
}
.c-header__nav-toggle.c-button-open .c-header__nav-bar--bottom {
  transform: rotate(-45deg) translate(0.8rem, -0.7rem);
  transition: 0.5s;
}

@media (min-width: 769px) {
  .c-header .c-header__container--top {
    padding: 1.3rem 0 1rem;
    flex-direction: row;
    justify-content: unset;
  }
  .c-header .c-header__container--top .c-header__hotline {
    margin: 0;
    margin-left: auto;
  }
  .c-header .c-header__container--top .c-header__hotline-number {
    margin-left: 1.6rem;
  }
  .c-header .c-header__container--bottom {
    display: flex;
    align-items: center;
  }
  .c-header .c-header__container--bottom .c-header__logo {
    margin-top: 0;
  }
  .c-header .c-header__container--bottom .c-header__nav {
    text-align: unset;
  }
  .c-header .c-header__container--bottom .c-header__nav .c-header__list {
    flex-direction: row;
  }
  .c-header .c-header__container--bottom .c-header__nav .c-header__list .c-header__list-item {
    margin-top: 0;
    margin-left: 5rem;
  }
  .c-header .c-header__container--bottom .c-header__button {
    display: inline;
    margin-left: 3.5rem;
  }
  .c-header .c-header__nav-toggle {
    display: none;
  }
}
.c-icon {
  width: 1.2rem;
  height: 1.4rem;
  filter: invert(48%) sepia(35%) saturate(258%) hue-rotate(174deg) brightness(94%) contrast(92%);
  transition: 0.3s;
}
.c-icon:not(:last-of-type) {
  margin-right: 2rem;
}
.c-icon:hover {
  cursor: pointer;
  filter: invert(68%) sepia(9%) saturate(2960%) hue-rotate(73deg) brightness(87%) contrast(75%);
}

.c-slide {
  border-bottom: 0.1rem solid #f0f0f0;
  text-align: center;
  padding: 5rem 2rem;
}
.c-slide .c-slide__headline-description {
  margin: 3rem 0;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #6b7c93;
}

@media (min-width: 769px) {
  .c-slide {
    padding: 30rem 0 17.5rem;
  }
  .c-slide .c-slide__headline-description {
    font-size: 1.5rem;
    line-height: 1.3;
  }
}
.c-customers {
  border-bottom: 0.1rem solid #f0f0f0;
  padding: 4rem 2rem;
}
.c-customers .c-customers__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.c-customers .c-customers__container .c-customers__textual-wrap {
  width: 100%;
  max-width: 35.4rem;
}
.c-customers .c-customers__container .c-customers__textual-wrap .c-customers__description {
  margin: 2.3rem 0;
}
.c-customers .c-customers__container .c-customers__image-group {
  display: grid;
  grid-template-columns: auto;
  row-gap: 3rem;
}
.c-customers .c-customers__container .c-customers__image-group .c-customers__image {
  transition: 0.3s;
}
.c-customers .c-customers__container .c-customers__image-group .c-customers__image:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media (min-width: 769px) {
  .c-customers {
    padding: 4rem 0;
  }
  .c-customers .c-customers__container {
    flex-direction: row;
    align-items: center;
    text-align: unset;
  }
  .c-customers .c-customers__container .c-customers__textual-wrap .c-customers__description {
    margin-bottom: 0;
  }
  .c-customers .c-customers__container .c-customers__image-group {
    margin-left: auto;
    grid-template-columns: repeat(2, auto);
    column-gap: 6rem;
  }
}
@media (min-width: 1201px) {
  .c-customers .c-customers__container .c-customers__image-group {
    grid-template-columns: repeat(4, auto);
  }
}

/*# sourceMappingURL=style.css.map */
