.c-slide {
  border-bottom: 0.1rem solid $color-grey-primary;
  text-align: center;
  padding: 5rem 2rem;

  .c-slide__headline-description {
    margin: 3rem 0;
    font-size: 1.8rem;
    line-height: 1.5;
    color: $color-cyan-blue-secondary;
  }
}

// Media query ===============================
@include from($tablet) {
  .c-slide {
    padding: 30rem 0 17.5rem;

    .c-slide__headline-description {
      font-size: 1.5rem;
      line-height: 1.3;
    }
  }
}
