// Roboto
// Roboto Light 300
@font-face {
  font-family: "Roboto Light";
  src: url("/scss/base/fonts/Roboto/Roboto-Light.woff");
}

// Roboto Regular 400
@font-face {
  font-family: "Roboto Regular";
  src: url("/scss/base/fonts/Roboto/Roboto-Regular.woff");
}

// Roboto Medium 500
@font-face {
  font-family: "Roboto Medium";
  src: url("/scss/base/fonts/Roboto/Roboto-Medium.woff");
}

// Roboto Bold 700
@font-face {
  font-family: "Roboto Bold";
  src: url("/scss/base/fonts/Roboto/Roboto-Bold.woff");
}

// Open Sans
// OpenSans Light 300
@font-face {
  font-family: "OpenSans Light";
  src: url("/scss/base/fonts/OpenSans/OpenSans-Light.woff");
}

// OpenSans Regular 400
@font-face {
  font-family: "OpenSans Regular";
  src: url("/scss/base/fonts/OpenSans/OpenSans-Regular.woff");
}

// OpenSans SemiBold 500
@font-face {
  font-family: "OpenSans SemiBold";
  src: url("/scss/base/fonts/OpenSans/OpenSans-SemiBold.woff");
}

// OpenSans Bold 700
@font-face {
  font-family: "OpenSans Bold";
  src: url("/scss/base/fonts/OpenSans/OpenSans-Bold.woff");
}
