// FONTS
$font-primary-light: "Roboto Light", sans-serif;
$font-primary-regular: "Roboto Regular", sans-serif;
$font-secondary-light: "OpenSans Light", sans-serif;
$font-secondary-semi-bold: "OpenSans SemiBold", sans-serif;

// COLORS
$color-cyan-blue-primary: #303842;
$color-cyan-blue-secondary: #6b7c93;
$color-cyan-blue-tertiary: #45505e;
$color-cyan-blue-quaternary: #8191a6;
$color-cyan-blue-other: #252b33;

$color-green-primary: #4caf50;

$color-cyan-primary: #32d5ba;
$color-blue-primary: #6dc4fa;
$color-yellow-primary: #ffd13c;
$color-red-primary: #f44336;

$color-black-primary: #000000;

// BREAKPOINTS
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1200px;
$wide-screen: 1260px;
$ultra-wide-screen: 1600px;
